.download {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;

  width: 32px;
  height: 32px;
  margin: 1rem;

  background-image: url('imgs/download.png');

  &:hover {
    opacity: .65;
  }

  @media print {
    display: none;
  }
}

.main-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
  @include display(flex);
  @include justify-content(center);

  @include background-image(linear-gradient(90deg, #B993D6, #8CA6DB));

  @media print {
    width: 297mm;
    height: 210mm;
    @include justify-content(flex-start);
    background: transparent;
  }

  .resume {
    width: 297mm;
    height: 210mm;
    box-sizing: border-box;
    padding: 12.7mm;
    margin: 4rem;
    @include display(flex);
    overflow: hidden;

    background-color: $white;
    box-shadow: 0 .5rem .5rem 0 transparentize($black, .5);

    @media print {
      margin: 0;
      box-shadow: none;
    }
  }
}

.resume .column {
  @include flex(1);
  padding: 0 1rem;

  border-right: 1px solid $grey;

  &:nth-child(2) {
    @include flex(.7);
  }

  &:last-child {
    border-right: none;
  }

  h2, h3, h4, h5, h6, p {
    color: $black;
    font: {
      family: 'Gandhi Sans';
    }
  }

  h1 {
    margin: 0;

    font: {
      family: "Lovelo";
      size: 1.6rem;
    }

    a {
      color: $grey;
      text-decoration: none;

      border-bottom: 2px solid transparent;
      @include transition(border-color .5s ease);

      &:hover, &:visited {
        color: $grey;
        text-decoration: none;
      }

      &:hover {
        border-color: $grey;
      }

      .highlight {
        color: $black;
      }
    }
  }

  h3 {
    margin: .5rem 0;

    font: {
      size: 1.1rem;
      weight: normal;
    }
  }

  .details {
    margin: .5rem;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0 0 .5rem 0;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }

      img, p {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }

      p {
        margin: {
          left: .5rem;
          right: .5rem;
        }

        font: {
          size: .8rem;
        }

        a, a:hover, a:visited {
          color: black;
          text-decoration: none;
        }

        a {
          padding-bottom: 4px;

          border-bottom: 1px solid transparent;
          @include transition(border-color .5s ease);

          &:hover {
            border-color: $black;
          }
        }
      }
    }
  }

  h2 {
    margin: 1rem .5rem .5rem .5rem;
    font: {
      size: 1.2rem;
    }
  }
}

@import "work_experiences";
@import "skills";
@import "proficiency";
@import "education";
@import "hobbies";