.proficiency {
  margin: 0;
  padding: 0;
  @include display(flex);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  @include align-items(center);

  list-style-type: none;

  li {
    margin: .2rem .5rem;
    padding: 0;

    p {
      margin: 0;
      padding: 0;

      font: {
        size: .8rem;
      }
    }
  }
}