.appendix {
  margin: 1rem 0;
  @include display(flex);
  @include flex-direction(row);

  .education, .proficiency {
    @include flex(1);

    font-size: .8rem;
  }

  .education {
    text-align: right;

    border-left: 1px solid $grey;
  }
}
