$white: #fff;
$black: #232422;
$grey: #eee;

$skills-color: android #92C569,
c #61615F,
net #228C44,
codeigniter #DA6962,
coffeescript #305177,
dbms #912769,
go #B58032,
html #DE5D36,
ios #F3B35F,
javascript #E7E8DF,
kotlin #ACF0FF,
php #5D6992,
python #4188B2,
rails #722422,
typescript #398D9C;