$phone: 768px;
$tablet: 1024px;
$laptop: 1300px;

$resume-width: 210mm;
$resume-height: 297mm;

$white: #fff;
$black: #232422;
$grey: #eee;

$skills-color: android #92C569,
  //c #61615F,
  net #228C44,
  sql #DA6962,
  experimentation #305177,
  dbms #912769,
  accessibility #B58032,
  web #DE5D36,
  ios #F3B35F,
  analytics #E7E8DF,
  kotlin #ACF0FF,
  php #5D6992,
  //python #4188B2,
  rails #722422;
  //typescript #398D9C;
