.work-experiences, .a-cotes {

  .experience {
    margin: .5rem 0;
    padding: .5rem;

    border: 1px $grey solid;
  }

  p {
    margin: 1rem 0 0 0;

    font: {
      size: .8rem;
    }
    line-height: 1.1rem;
    text-align: justify;
  }

  .experience .header {
    margin: .5rem 0;
    @include display(flex);
    @include align-items(center);

    h4 {
      margin: 0 .5rem 0 0;
      @include flex(1);

      font: {
        size: .8rem;
        weight: normal;
      }

      .title {
        font: {
          size: .9rem;
          weight: bold;
        }
      }
    }

    .skill-scheme {
      margin: 0;
      padding: 0;
      @include display(flex);

      list-style-type: none;

      li {
        width: 1.25rem;
        height: .5rem;

        @each $p in $skills-color {
          &.#{nth($p, 1)} {
            background-color: nth($p, 2);
          }
        }
      }
    }
  }
}
