.download {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 1rem;
  background-image: url("imgs/download.png"); }
  .download:hover {
    opacity: .65; }
  @media print {
    .download {
      display: none; } }

.main-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-image: -webkit-linear-gradient(-360deg, #B993D6, #8CA6DB);
  background-image: linear-gradient(90deg, #B993D6, #8CA6DB); }
  @media print {
    .main-wrapper {
      width: 297mm;
      height: 210mm;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: start;
      background: transparent; } }
  .main-wrapper .resume {
    width: 297mm;
    height: 210mm;
    box-sizing: border-box;
    padding: 12.7mm;
    margin: 4rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(35, 36, 34, 0.5); }
    @media print {
      .main-wrapper .resume {
        margin: 0;
        box-shadow: none; } }

.resume .column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 1rem;
  border-right: 1px solid #eee; }
  .resume .column:nth-child(2) {
    -webkit-box-flex: 0.7;
    -moz-box-flex: 0.7;
    box-flex: 0.7;
    -webkit-flex: 0.7;
    -moz-flex: 0.7;
    -ms-flex: 0.7;
    flex: 0.7; }
  .resume .column:last-child {
    border-right: none; }
  .resume .column h2, .resume .column h3, .resume .column h4, .resume .column h5, .resume .column h6, .resume .column p {
    color: #232422;
    font-family: 'Gandhi Sans'; }
  .resume .column h1 {
    margin: 0;
    font-family: "Lovelo";
    font-size: 1.6rem; }
    .resume .column h1 a {
      color: #eee;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-color 0.5s ease;
      -moz-transition: border-color 0.5s ease;
      transition: border-color 0.5s ease; }
      .resume .column h1 a:hover, .resume .column h1 a:visited {
        color: #eee;
        text-decoration: none; }
      .resume .column h1 a:hover {
        border-color: #eee; }
      .resume .column h1 a .highlight {
        color: #232422; }
  .resume .column h3 {
    margin: .5rem 0;
    font-size: 1.1rem;
    font-weight: normal; }
  .resume .column .details {
    margin: .5rem;
    padding: 0;
    list-style-type: none; }
    .resume .column .details li {
      margin: 0 0 .5rem 0;
      padding: 0; }
      .resume .column .details li:last-child {
        margin-bottom: 0; }
      .resume .column .details li img, .resume .column .details li p {
        display: inline-block;
        vertical-align: middle;
        margin: 0; }
      .resume .column .details li p {
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: .8rem; }
        .resume .column .details li p a, .resume .column .details li p a:hover, .resume .column .details li p a:visited {
          color: black;
          text-decoration: none; }
        .resume .column .details li p a {
          padding-bottom: 4px;
          border-bottom: 1px solid transparent;
          -webkit-transition: border-color 0.5s ease;
          -moz-transition: border-color 0.5s ease;
          transition: border-color 0.5s ease; }
          .resume .column .details li p a:hover {
            border-color: #232422; }
  .resume .column h2 {
    margin: 1rem .5rem .5rem .5rem;
    font-size: 1.2rem; }

.work-experiences .experience, .a-cotes .experience {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px #eee solid; }
  .work-experiences .experience:first-child, .a-cotes .experience:first-child {
    margin-top: 0; }
  .work-experiences .experience:last-child, .a-cotes .experience:last-child {
    margin-bottom: 0; }

.work-experiences h4, .a-cotes h4 {
  margin: .5rem 0;
  font-size: .9rem;
  text-align: center; }

.work-experiences h5, .a-cotes h5 {
  margin: .5rem 0;
  font-size: .8rem;
  font-weight: normal;
  text-align: center; }

.work-experiences p, .a-cotes p {
  margin: 1rem 0 0 0;
  font-size: .8rem;
  line-height: 1rem;
  text-align: justify; }

.work-experiences .skill-scheme, .a-cotes .skill-scheme {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .work-experiences .skill-scheme li, .a-cotes .skill-scheme li {
    width: 1.25rem;
    height: .5rem; }
    .work-experiences .skill-scheme li.android, .a-cotes .skill-scheme li.android {
      background-color: #92C569; }
    .work-experiences .skill-scheme li.c, .a-cotes .skill-scheme li.c {
      background-color: #61615F; }
    .work-experiences .skill-scheme li.net, .a-cotes .skill-scheme li.net {
      background-color: #228C44; }
    .work-experiences .skill-scheme li.codeigniter, .a-cotes .skill-scheme li.codeigniter {
      background-color: #DA6962; }
    .work-experiences .skill-scheme li.coffeescript, .a-cotes .skill-scheme li.coffeescript {
      background-color: #305177; }
    .work-experiences .skill-scheme li.dbms, .a-cotes .skill-scheme li.dbms {
      background-color: #912769; }
    .work-experiences .skill-scheme li.go, .a-cotes .skill-scheme li.go {
      background-color: #B58032; }
    .work-experiences .skill-scheme li.html, .a-cotes .skill-scheme li.html {
      background-color: #DE5D36; }
    .work-experiences .skill-scheme li.ios, .a-cotes .skill-scheme li.ios {
      background-color: #F3B35F; }
    .work-experiences .skill-scheme li.javascript, .a-cotes .skill-scheme li.javascript {
      background-color: #E7E8DF; }
    .work-experiences .skill-scheme li.kotlin, .a-cotes .skill-scheme li.kotlin {
      background-color: #ACF0FF; }
    .work-experiences .skill-scheme li.php, .a-cotes .skill-scheme li.php {
      background-color: #5D6992; }
    .work-experiences .skill-scheme li.python, .a-cotes .skill-scheme li.python {
      background-color: #4188B2; }
    .work-experiences .skill-scheme li.rails, .a-cotes .skill-scheme li.rails {
      background-color: #722422; }
    .work-experiences .skill-scheme li.typescript, .a-cotes .skill-scheme li.typescript {
      background-color: #398D9C; }

.skills h4 {
  margin: .5rem 1rem;
  font-size: .9rem;
  font-weight: normal;
  text-align: center; }

.skills .list {
  margin: 0;
  padding: .5rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  border: 1px solid #eee; }
  .skills .list li {
    margin: .2rem 0;
    padding: 0; }
    .skills .list li div, .skills .list li p {
      display: inline-block;
      vertical-align: middle; }
    .skills .list li div {
      width: 1rem;
      height: 1rem; }
      .skills .list li div.android {
        background-color: #92C569; }
      .skills .list li div.c {
        background-color: #61615F; }
      .skills .list li div.net {
        background-color: #228C44; }
      .skills .list li div.codeigniter {
        background-color: #DA6962; }
      .skills .list li div.coffeescript {
        background-color: #305177; }
      .skills .list li div.dbms {
        background-color: #912769; }
      .skills .list li div.go {
        background-color: #B58032; }
      .skills .list li div.html {
        background-color: #DE5D36; }
      .skills .list li div.ios {
        background-color: #F3B35F; }
      .skills .list li div.javascript {
        background-color: #E7E8DF; }
      .skills .list li div.kotlin {
        background-color: #ACF0FF; }
      .skills .list li div.php {
        background-color: #5D6992; }
      .skills .list li div.python {
        background-color: #4188B2; }
      .skills .list li div.rails {
        background-color: #722422; }
      .skills .list li div.typescript {
        background-color: #398D9C; }
    .skills .list li p {
      margin: 0 .5rem 0 0;
      font-size: .7rem;
      font-weight: bold;
      text-transform: uppercase; }

.proficiency {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  list-style-type: none; }
  .proficiency li {
    margin: .2rem .5rem;
    padding: 0; }
    .proficiency li p {
      margin: 0;
      padding: 0;
      font-size: .8rem; }

.education {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .education li {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .education li p {
      font-size: .8rem; }
      .education li p:first-child {
        width: 50%;
        margin-right: .3rem;
        font-weight: bold;
        text-align: center; }

.hobbies {
  margin: 0;
  font-size: .8rem; }
