section.about
  h1
    a(href='https://adriencadet.com')
      | https://
      span.highlight Adrien Cadet
      | .com

  h3 
    | Android Software Engineer / 
    a(href='mailto:acadet[at]live[dot]fr') acadet[at]live[dot]fr
    | 
    | / 1.415.318.9933
