section.appendix
  .proficiency
    h2 – Proficiency
    
    p Native French / Fluent English / Fairly command of Spanish
    
  .education
    h2 Education –
    
    p 
      | Graduated in 2014 from ENSEIRB MATMECA
      br
      | Master degree in Software Engineering
      
