section.education

  h2 — Education

  .block
    p.
      ENSEIRB MATMECA
      Graduated in 2014

    p
      | Master degree in Software Engineering
      br
      | Bordeaux Graduate School of Engineering in Computer Sciences
