doctype
html
  head
    title My Web Resumé - Adrien Cadet

    meta(charset='utf-8')
    meta(content='IE=edge;chrome=1', http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='\'Cause InDesign was too annoying.')
    meta(name='keywords', content='Adrien, Cadet, software, engineer, San, Francisco, mobile, web, Android, Swift, iOS, chocolate, flowers, beers, travel')

    link(rel='stylesheet', type='text/css', href='all.css')

  body

    .github
      a(href='https://github.com/acadet/web-resume')
  
    .download
      a(href='Adrien_Cadet_Resume.pdf')

    .main-wrapper
      .resume

        include about
        
        include work_experiences

        include skills

        include appendix
