mixin skill(clazz, name)
  li 
    div(class=clazz)
    p #{name}

section.skills
  
  h2 – Skills

  .skillset
    .set
      h4 I am using every day
      ul.list
        +skill("android", "Android/Java")
        +skill("experimentation", "Experimentation")
        +skill("analytics", "Analytics")
        +skill("dbms", "DBMS")

    .set
      h4 I am pretty skilled for
      ul.list
        +skill("accessibility", "Mobile accessibility")
        +skill("sql", "SQL")
        +skill("kotlin", "Kotlin")
        +skill("web", "HTML/CSS/Javascript")

    .set
      h4 I used to be good at
      ul.list
        +skill("ios", "Swift/iOS")
        +skill("rails", "Ruby/RoR")
        +skill("net", "C#/.NET")
        +skill("php", "PHP")
