section.skills
  
  h2 – Skills

  h4 I am using every day
  ul.list
    li
      .android
      p Android/JAVA
    li
      .coffeescript
      p Coffeescript
    li
      .dbms
      p DBMS
    li
      .html
      p HTML/CSS
    li
      .javascript
      p JavaScript
    li
      .ios
      p Swift/iOS

  h4 I am pretty skilled for
  ul.list
    li
      .go
      p Go
    li
      .kotlin
      p Kotlin
    li
      .rails
      p Ruby/RoR

  h4 I used to be good at
  ul.list
    li
      .c
      p C
    li
      .net
      p C#/.NET
    li
      .codeigniter
      p CodeIgniter
    li
      .php
      p PHP
    li
      .python
      p Python
    li
      .typescript
      p TypeScript
  
  h4 Extra
  ul.list
    li
      p Project Management
    li
      p Software engineering
    li
      p UX Design
