mixin skill(clazz, name)
  li 
    div(class=clazz)
    p #{name}

section.skills
  
  h2 – Skills

  .skillset
    .set
      h4 I am using every day
      ul.list
        +skill("android", "Android/Java/Kotlin")
        +skill("experimentation", "Experimentation")
        +skill("product", "Product Development Process")
        +skill("interviewing", "Interviewing")
        
    .set
      h4 I am good at
      ul.list
        +skill("data", "Data analysis")
        +skill("scaling", "Scaling Mobile Architecture")
        +skill("accessibility", "Mobile Accessibility")

    .set
      h4 I used to have
      ul.list
        +skill("web", "HTML/CSS/Javascript")
        +skill("ios", "Swift/iOS")
        +skill("rails", "Ruby/RoR")
        +skill("net", "C#/.NET")
        +skill("php", "PHP")
