mixin experience(title, dates, location)
  h4
    span.title #{title} 
    | / #{dates} / #{location}

section.work-experiences
  
  h2 — Work Experiences
  
  .experience
    .header
      +experience("Android SWE at Lyft", "Since Jun 2016", "San Francisco, USA")
      ul.skill-scheme
        li.android
        li.sql
        li.analytics
        li.experimentation
        li.accessibility
    p
      | I am part of the Pickup Experience team. On a day to day basis, I either work on app's features, 
      | refactor our codebase, analyse data or monitor running A/B tests. 
      | Building new features implies meeting product and design, tech specing work, breaking down
      | project into smaller tasks, asking for peers' review, working with QA and monitoring while live.
      | I also work closely with our client release team to monitor our production apps.
  
  .experience
    .header
      +experience("Software Engineer at Coshx Labs", "Nov 2014 - Jun 2016", "San Francisco, USA")
      ul.skill-scheme
        li.android
        li.ios
        li.web
        li.rails
        li.dbms
    p
      | I was building mobile applications (both iOS and Android) for a dev shop, 
      | as well as websites and APIs.
      br 
      | I was also an Android consultant few times. I engineered some mobile libraries while there, 
      | along posting regularly on the company's blog.

  //- .experience
  //-   h4 Intern at Sopra
  //-   h5 Feb - Aug 2014 – Bordeaux, France
  //-   ul.skill-scheme
  //-     li.net
  //-     li.javascript
  //-     li.dbms
  //-   p
  //-     | Innovative internship which targeted to engineer a dashboard for military ships.
  //-     | I designed the whole solution, which includes some internal frameworks and libraries,
  //-     | especially for supporting touch interactions.
  //-     
  //- .experience
  //-   h4 Intern at Hex Digital
  //-   h5 Jun - Sept 2013 – London, UK
  //-   ul.skill-scheme
  //-     li.php
  //-     li.javascript
  //-     li.dbms
  //-     li.html
  //-   p
  //-     | Front-end and back-end website development. I contributed to project management too.
      

section.a-cotes
  h2 – Les À-Côtés
  
  .experience
    .header
      +experience("Volunteer teacher at Rails School", "Mar 2015 - Dec 2016", "San Francisco, USA")
      ul.skill-scheme
        li.ios
        li.web
        li.rails
        li.kotlin
    p
      | I was teaching classes at the Rails School about various topics such as classic algorithms,
      | new technologies, web and mobile development. I was also a regular student.

  .experience
    .header
      +experience("Hacker at Launch! Festival", "Mar 2015", "San Francisco, USA")
      ul.skill-scheme
        li.android
    p
      | With my 4-person team, we built a website and an Android application within 48 hours.
      | We were short-listed in the top 15 of the competition, among 130+ teams.
