mixin experience(title, dates, location)
  h4
    span.title #{title} 
    | / #{dates} / #{location}

section.work-experiences
  
  h2 — Work Experiences
  
  .experience
    .header
      +experience("Android SWE at Lyft", "Jun '16 - Nov '17, San Francisco, USA", "Since Nov '17, New York, USA")
      ul.skill-scheme
        li.android
        li.product
        li.experimentation
        li.scaling
        li.accessibility
        li.interviewing
        li.data
    p
      | Since I joined, my focus has been to solve passengers’ issues before they get into a car. 
      | From placing a request to finding their driver, my team helps solve some of the most painful and complex ridesharing issues.
    p
      | As an engineer, along with building features and refactoring our codebase, I am also part of our product process. 
      | I help my team make decisions, analyze data and run experiments.
      
    p I am also lucky that I have been given the opportunity to observe the following company growth:
    ul
      li Being part of an IPO
      li > 1500% weekly ride increase over 4 years
      li Staff increase of 5x (now 5K employees)
      li Android team scaling from 15 to 75 SWEs
  
  .experience
    .header
      +experience("Software Engineer at Coshx Labs", "Nov '14 - Jun '16", "San Francisco, USA")
      ul.skill-scheme
        li.android
        li.ios
        li.web
        li.rails
    p
      | Coshx Labs is a dev shop. I built entire mobile applications on both iOS and Android, as well as a few APIs.
      | I created a few mobile libraries and wrote multiple posts for the company’s blog.
      br 
      | I was also an external consultant a few times, where I helped customers improve their Android codebase and tooling.


section.a-cotes
  h2 – Les À-Côtés
  
  .experience
    .header
      +experience("Volunteer teacher at Rails School", "Mar '15 - Dec '16", "San Francisco, USA")
      ul.skill-scheme
        li.android
        li.ios
        li.web
        li.rails
    p
      | I was teaching classes at the Rails School about various topics such as classic algorithms,
      | new technologies, web and mobile development. I was also a regular student.

  .experience
    .header
      +experience("Hacker at Launch! Festival", "Mar '15", "San Francisco, USA")
      ul.skill-scheme
        li.android
    p
      | With my 4-person team, we built a website and an Android application within 48 hours.
      | We were short-listed in the top 15 of the competition, among 130+ teams.
