mixin experience(title, dates, location)
  h4
    span.title #{title} 
    | / #{dates} / #{location}

section.work-experiences
  
  h2 — Work Experiences
  
  .experience
    .header
      +experience("Android SWE at Lyft", "Since Jun 2016", "San Francisco, USA")
      ul.skill-scheme
        li.android
        li.sql
        li.analytics
        li.experimentation
        li.accessibility
    p
      | I am part of the Pickup Experience team. On a day to day basis, I either work on app's features, 
      | refactor our codebase, analyse data or monitor running A/B tests. 
      | Building new features implies meeting with product and design, tech specing work, breaking down
      | projects into smaller tasks, asking for peers' review and working with QA.
      | I also work closely with our client release team to monitor our production apps' health.
  
  .experience
    .header
      +experience("Software Engineer at Coshx Labs", "Nov 2014 - Jun 2016", "San Francisco, USA")
      ul.skill-scheme
        li.android
        li.ios
        li.web
        li.rails
        li.dbms
    p
      | I was building mobile applications (both iOS and Android) for a dev shop, 
      | as well as websites and APIs.
      br 
      | I was also an Android consultant few times. I engineered some mobile libraries while there, 
      | along posting regularly on the company's blog.

  .experience
    .header
      +experience("SWE Intern at Sopra", "Feb - Aug 2014", "Bordeaux, France")
      ul.skill-scheme
        li.net
        li.web
        li.dbms
    p
      | Innovative internship which aimed to engineer a dashboard for military vessels.
      | I designed the entire solution, including various internal framework and library development.
      

section.a-cotes
  h2 – Les À-Côtés
  
  .experience
    .header
      +experience("Volunteer teacher at Rails School", "Mar 2015 - Dec 2016", "San Francisco, USA")
      ul.skill-scheme
        li.ios
        li.web
        li.rails
        li.kotlin
    p
      | I was teaching classes at the Rails School about various topics such as classic algorithms,
      | new technologies, web and mobile development. I was also a regular student.

  .experience
    .header
      +experience("Hacker at Launch! Festival", "Mar 2015", "San Francisco, USA")
      ul.skill-scheme
        li.android
    p
      | With my 4-person team, we built a website and an Android application within 48 hours.
      | We were short-listed in the top 15 of the competition, among 130+ teams.
